
	<legend>
		Application Settings
	</legend>

	<%= simple_form_for(@admin_app_setting) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :value, label: 'Increase school offer price by:' %>
	  </div>

	  <div class="form-actions">
	    <%= button_tag(class: "btn btn-success btn-sm btn-embossed pull-right") do %>
		<i class="glyphicon glyphicon-floppy-disk"></i> Save Changes

	    <% end %>
	
	  </div>
	<% end %>
