<div class="col-lg-8 col-lg-offset-2">
	<div class="well">
		<legend><span class="oi oi-clipboard"></span> eslBooking Terms and Conditions</legend>
		<dl>
		<dt>General Information:</dt>
			<dd>eslBooking.com is a company which provides booking services for language learning abroad. <br>
			eslBooking.com has released the following privacy policy to protect information and to promote a safe online experience for its users. This privacy policy is updated regularly based on changes in company policy.
			The privacy protection policy is adapted to provide users and providers special protection of their personal information.</dd>
			<br>
			<dt>What kind of private information is collected?</dt>
			<dd>
			eslBooking.com collects the following types of private information about members for consultation and purchasing requests.<br>
			Information we collect about users: Name, country, nationality, date of birth, sex, ID, password, contact point, address, mobile phone number, e-mail, service use record, connecting log, cookies, contacting IP address, latitude & longitude, etc.<br>
			Information we collect about schools/language institutions: Name, ID, password, address, company name, URL, contact point, permission number, country, e-mail, address, clerk’s name, fax number, bank account information, education language, number of the enrolled students, nationality ratio of the enrolled students, facilities, etc.<br>
			eslBooking.com collects private information through the webpage and mobile addresses during sign-ups, consulting requests, bulletins, questionnaire inquiry page etc.</dd><br>
			</dd>
			<dt>What is the purpose of collecting private information?</dt><dd>
			The private information eslBooking.com collects is only for business purposes, i.e.:<br>
			Payments, provision of new services and offers.<br>
			To view and manage members for personal identification and service history, prevent unauthorized use, checking the willingness to be a member, check transaction history, etc.<br>
			Delivery of information, identification and analysis of contact frequency and for marketing and announcement of events.</dd><br>
			<dt>How long is the information stored and used?</dt><dd>
			The private information of the user and member is deleted when membership is withdrawn unless the membership ends due to expulsion. However, some information may be preserved according to related laws such as commercial code, and others. The following information can be kept:<br>
			<ul>
				<li>Records on advertisement: 6 months (Laws for consumer protection in electronic commercial trading, etc.)</li>
				<li>Records on the agreement and withdrawing from applying for agreement: 5 years (Laws for the consumer protection in the electronic commercial trading and etc)</li>
				<li>Records on the payment and supply of goods: 5 years (Laws for consumer protection in electronic commercial trading, etc.)</li>
				<li>Records on consumer dissatisfaction or handling of a dispute: 3 years (Laws for the consumer protection in the electronic commercial trading, etc.)</li>
				<li>Records on the collection, processing and use of credit information: 3 years (Laws for the use and protection of credit information)</li>
			</ul>
			<dt>Is credit card payment information recorded?</dt><dd>
			When the user pays eslBooking.com by credit card, the credit card number and password are not recorded or kept. eslBooking.com uses a trusted 3rd party payment processor and does not keep any credit card information except for confirmation information.
			</dd><br>
			<dt>How is the private information destroyed?</dt><dd>
			We destroy the private information when the purpose of collecting and using the information is achieved. The private information saved in the database is deleted and destroyed permanently and cannot be restored once it has been destroyed.
			</dd><br>
			<dt>How does eslBooking.com use cookies?</dt><dd>
			We use cookies for the convenience of the user. A cookie is a small amount of information transmitted from the web server to the user’s browser. When the user connects to the website, the user can use the site without inputting additional information because the server reads cookies and additional information of yours is gathered from the computer. The user has the right to delete the cookie and the user can accept all cookies, or send a notice at the installation of cookie or reject it by adjusting the options on the browser.
			</dd><br>
			<dt>How can Users access and modify their personal information?</dt><dd>
			The member may view or edit the registered private information any time. Private information may be viewed and edited on My Page after logging in for general members. Providers may view and edit information on the administration website in the exclusive use control mode.
			</dd><br>
			<dt>What kind of security does eslBooking.com use to protect the private information?</dt><dd>
			We use the following security methods and procedures to protect the valuable private information of all users and members of the seller.
			<ul>
				<li>All passwords are encrypted and then saved.</li>
				<li>Security devices are used to transmit private information on the network.</li>
				<li>An around-the-clock invasion detection system is in use to prevent server hacking from outsiders.</li>
			</ul>
			<dt>What are the security standards of eslBooking.com?</dt><dd>
			eslBooking.com has the highest security standards. We have established and perform appropriate business systems and procedures to protect personal information provided by our customers. Only authorized staff may access the private information for business purposes and strict technical and physical guidelines are followed to access and use the private information. These guidelines are specially designed for sensitive private information such as passwords and credit card numbers and can only be viewed by the internal administration of eslBooking.com. In case of credit card numbers, it is designed only for the customer to use at the moment of payment by the customer. In addition, the system of eslBooking.com is designed so that only the user can use and access their credit card number only when purchasing or booking on eslBooking.com.
			</dd><br>
			<dt>How does eslBooking.com process the private information of children?</dt><dd>
			eslBooking.com cannot be used and paid by customers under the age of 18 without consent from their custodian. If a customer under the age of 18 books and pays, the legal guardian may request to view, correct, and withdraw the information from eslBooking.com.
			</dd><br>
			<dt>Who do I contact with questions regarding personal information at eslBooking.com?</dt><dd>
			Contact us thru the e-mail address info@eslBooking.com if you have a question, proposal, or opinion related to the privacy policy.
			<br>
			<br>
		</dl>
		<i class="pull-right small">Recent date of modification: November 16, 2014</i><br>
	</div>
</div>
</div>