

<div class="row">
  <div class="col-lg-3 ">
    <div class="well">
    	<legend><span class="glyphicon glyphicon-link"></span> Pricing Settings</legend>
    	<hr>
		<%= render 'form' %>

    </div>
  </div>

  <div class="col-lg-9">
    <div class="well">
    	<legend><span class="oi oi-people" title="oi-people" aria-hidden="true"></span>  Agency's Settings</legend>
    	<hr>
    	

    </div>
  </div>

</div>