<div class="row">
	<div class="col-lg-4">
		<div class="well">
			<legend>New search</legend>
			
			<%= render 'form' %>
			
		</div>
	</div>
	<div class="col-lg-8">
		<div class="well">
			<legend>Offers</legend>

			
		</div>
	</div>

</div>

<div class="row">
	<div class="col-lg-12">
		<div class="well">
			<legend>New search</legend>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque luctus sapien pellentesque odio lobortis accumsan. Sed eu euismod diam. Aliquam gravida velit mauris, viverra gravida odio faucibus et. Morbi cursus sed nunc vitae malesuada. Fusce lorem urna, accumsan eget ultricies id, bibendum vel ante. Duis quis ante vulputate, dapibus leo quis, sodales mi. Aenean tempus justo est, et sollicitudin metus semper imperdiet. Quisque venenatis consectetur cursus. Pellentesque rutrum condimentum orci, eu malesuada arcu. Etiam eget nisl non turpis elementum interdum. Morbi dui dui, tincidunt non justo nec, porta congue quam. Vivamus sagittis quam vitae tortor scelerisque feugiat. Cras dapibus porttitor imperdiet.
			</p>
			<p>
				Quisque sed dignissim enim. Mauris non quam vitae libero lacinia iaculis id id tortor. Donec posuere nibh ut erat bibendum molestie. In interdum purus ut dapibus congue. Aenean id luctus erat. Nam bibendum ligula et est tincidunt venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a vestibulum dolor, sed consectetur orci. Vestibulum mollis viverra tincidunt. Vestibulum dignissim fringilla metus, nec pulvinar quam.
			</p>
		</div>
	</div>
</div>

<!--  
<%= link_to 'Back', searches_path, class: "btn btn-primary btn-sm " %>
-->
