<h1>Test from Seat</h1>
<div class="row">

	<div class="col-lg-3">
		<div class="well">
			filters
		</div>
	</div>

	<div class="col-lg-9">

		<div class="seat-well">
			<div class="row">
				<div class="col-lg-1 seats-left-container">
						<center><div class="seats-left">3</div> <i>Seats left</i></center>
				</div>
				<div class="col-lg-3 seat-info">
				<ul class="list-unstyled">
					<li><b>Number of weeks:</b> 10</li>
					<li><b>Course:</b> General English</li>
				</ul>
				</div>

				<div class="col-lg-4  seat-info">
				<ul class="list-unstyled">
					<li><b>Offer for:</b> 21st August, 2014</li>
					<li><b>Offer utill:</b> 21st September, 2014</li>
				</ul>
				</div>

				<div class="col-lg-1">
					<center><div class="seat-price">
						<span class="label label-danger">$300 CAD</span>
					</div></center>
				</div>

				<div class="col-lg-3">
					<center><div class="seat-buy">
						<%= button_tag( :class => "btn btn-success btn-xs") do %>
						  <i class="glyphicon glyphicon-credit-card"></i> Buy this offer
						<% end %>
					</div></center>
				</div>

				
			</div>
		</div>
	</div>

</div>




