$background_color: #e9eaed;
$white: #ffffff;
$pomegranate: #F22613;
$nice-blue: #2574A9;
$nice-blue2: #0896FF;
$nice-red: #D91E18;
$nice-orange: #D35400;
$grid-gutter-width: 10px;
$text-primary: #2C3E50;
$nice-gray: #ECF0F1;
$dark-gray: #95A5A6;
$primary-color : #2c3e50;
$golden-color: #F7CA18;
$royal-blue: #67809F;

@import 'jeet/index';
@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(https://cdn.jsdelivr.net/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css);
body{
	background-color: $background_color;
	color: $text-primary;
	font-family: 'Montserrat', sans-serif;
}


.footnote{
	font-size: .7em;
	color: $primary-color;

}

.well{
	background-color: $white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}



	 .shadow{
		font-weight: bold;
		
		font-size: 1em;
		cursor: pointer;
		text-decoration: none;
		text-shadow: 0 1px 0px rgba(0,0,0,0.15);
		border-width: 1px 1px 3px !important;
		border-style: solid;
		border-color: #326e99;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		-moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		}

.btn-green{
	background-color: #5fcf80 !important;
	border-color: #3ac162 !important;
	color: #fff;
}

.content{
	
}



.filter{




}

.seat-well{
	

	@include col(3/3);
		position: relative;
		background: #ffffff;
		//border-top: 2px solid #c1c1c1;
		margin-bottom: 10px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		width: 100%;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		padding: 15px;
	

	.seat-details{
		float: left;
		display: inline;
		clear: none;
		text-align: inherit;
		@include col(6/6);


		.seat-info{
			@include span(5/8);
		}

		.offer-price{
		@include span(3/8);
		text-align: right;
		font-size: 1.2em;

			
		
		}


	}

	

	.saving, .offer-seats-remaining{
		font-size: .9em;
		color: #31A315;
		font-style: italic;
	}
	.saving{
		font-size: .8em;
	}
	.offer-course{
		padding-top: 10px;
	}
	.offer-duration, .offer-dates{
	font-size: .8em;
	}
	.offer-notes{
		font-size: .65em;
		color: darken($nice-gray,40);
	}
	.offer-button{
		margin-top: 28px;
	}
	
	.offer-seats-remaining{
		//padding-top: 10px;
		color: #c0392b;
		font-size: .8em;
		margin-bottom: -1px;
		//background-color: rgba(241, 196, 15, 0.39);
		//padding: 2px;
		//align-content: center;
		//text-align: center;
		width: 344px;
		
	}

	.offer-seats-viewing{

		padding-top: 10px;
		color: #D35400;
		margin-bottom: -4px;
		background-color: #F5D76E;
		padding: 2px;
		align-content: center;
		text-align: center;
		width: 344px;
		border-radius: 2px;
	}


}



.no-padding{
	padding-left: 10px;
    padding-right: 0;
}

.collection_radio_buttons{
	padding: golden-ratio(12px,  -1);;
	font-weight: normal ;

}


#{$all-text-inputs-hover} { // Target the :hover pseudo-class
  background: $nice-gray;
}


.save-image{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
	border: $white 10px solid;
}

.save-text{
	color: $dark-gray;
}

.save-price{
	color: $nice-blue;
	font-weight: bold;
	font-size: 1.1em;
}

.no-style{
	text-decoration: none !important;
}

.price-details-left{
		text-align: right;
		

	}
	.price-details{
		font-size: .5em;
		color: #95a5a6;
		margin-top: 15px;
		border-top: 1px #CFD6D6 solid;
		float: right;
		padding: 2px;
		font-style: italic;

	}
	.price-col{
		padding-left:10px;
		padding-right:10px;
	}
	.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
		border: none;

	}
	.table-condensed > tbody > tr >td {
		padding: 0px;
		margin-top: 0px;
		
	}
	
	.price-type{
		font-size: .5em;
		color: #bdc3c7;
		font-weight: normal;
	}

.seat-well .seat-details .offer-price:before, .seat-well .seat-details .offer-price:after {
    content: "";
    display: table;
    margin-bottom: -13px;

}

.school-img{
	margin-right: 10px;
	border: 1px solid #bdc3c7;
}

.navbar-default{
	background-color: #ffffff;
	border-radius: 0px;

}

.focus{
	background-color: lighten($nice-gray,4);
}

.hider{
	position: fixed;
	top: -2000px;
}
.book-now{
	 -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

.green{
	color: lighten(#27ae60,30);
}
.red{
	color: lighten(#c0392b,20);
}
.filter.affix{
	
	top: 10px;
	width: 426px;
}
.filter-container{
	position: relative;
}

.nav-tabs > li > a{
	color: #000;
}

.label-sm{
	font-size: .6em;
	margin-left: 3px;

}
.label-dates{
	font-size: .6em;
	background-color: $golden-color;
	color: $nice-orange;
}

.star{
	color: $golden-color;
	font-size: .9em;
}
hr{
	border-top: 1px solid #DADADA;
}

hr.black{
	border-top: 1px solid black;
}

.school-name{
		font-size: 1.1em;
		text-decoration: underline;
		color: $text-primary;
	}
	.school-name:hover{
		text-decoration: underline;
		color: lighten($text-primary,20);
	}

	table a.order-school-name{
		text-decoration: underline;
		color: $text-primary;
	}
	.homepage-text{
		font-size: .95em;
	}

	.homepage-well{
		background-color: $text-primary;
		color: #ffffff;
	}

.select {

width: 100%;
}
	.btn-group > .btn:first-child {

min-width: 100%;

}
.tile-white{
	background-color: white !important;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.open > .dropdown-menu {
width: 100%;
}


.navbar-nav > li > .dropdown-menu {
min-width: 305% !important;
/* border-radius: 4px; */
}

ul.wysihtml5-toolbar > li > div.btn-group > .btn{
	min-width: 0;

}


.logo{
	width:170px;
}
.navbar-nav.navbar-right:last-child{
	margin-top: 10px;
}

.apple_pagination {
  background: $nice-gray;
  border: 1px solid darken($nice-gray,10);
  text-align: center;
  padding: .5em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: darken($nice-gray,10);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    //text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline;
      color: $primary-color }


      .label-big{
      	font-size: 1em;
      	font-style: none;
      	font-weight: normal;
      }


.sold{
	background-color: lighten($dark-gray, 25);
	//font-style: italic;
}

.faq-link{
	color: $primary-color;
}
.faq-link:hover{
	color: lighten($primary-color,10);
	text-decoration: underline;

}
.q{
	padding-top:4px;
}


