$background_color: #e9eaed;
$white: #ffffff;

body{
	background-color: $background_color;
	color: #141823;
}

.well{
	background-color: $white;
}



	 .shadow{
		font-weight: bold;
		padding: 12px 15px;
		font-size: 1em;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		cursor: pointer;
		text-decoration: none;
		text-shadow: 0 1px 0px rgba(0,0,0,0.15);
		border-width: 1px 1px 3px !important;
		border-style: solid;
		border-color: #326e99;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		-moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		}

.btn-green{
	background-color: #5fcf80 !important;
	border-color: #3ac162 !important;
	color: #fff;
}