$background_color: #e9eaed;
$white: #ffffff;
$pomegranate: #F22613;
$nice-blue: #2574A9;
$nice-blue2: #0896FF;
$nice-red: #D91E18;
$nice-orange: #D35400;
$grid-gutter-width: 10px;
$text-primary: #2C3E50;
$nice-gray: #ECF0F1;
$dark-gray: #95A5A6;

@import 'jeet/index';
@import "bourbon";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	background-color: $background_color;
	color: $text-primary;
	font-family: 'Montserrat', sans-serif;
}

.well{
	background-color: $white;
}



	 .shadow{
		font-weight: bold;
		
		font-size: 1em;
		cursor: pointer;
		text-decoration: none;
		text-shadow: 0 1px 0px rgba(0,0,0,0.15);
		border-width: 1px 1px 3px !important;
		border-style: solid;
		border-color: #326e99;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -moz-inline-stack;
		display: inline-block;
		vertical-align: middle;
		zoom: 1;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		-moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
		}

.btn-green{
	background-color: #5fcf80 !important;
	border-color: #3ac162 !important;
	color: #fff;
}

.content{
	
	@include col(2/3);

}

.filter{

	@include col(1/3);


}

.seat-well{
	

	@include col(3/3);
		margin-top: 5px;
	background-color:$white;
	border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	.seat-photo{
		@include span(1/6);
		overflow: hidden;
		border-radius: 4px 0 0 4px;
	}

	.seat-details{

		@include span(5/6);
		padding: 10px;
		.seat-info{
			@include span(5/8);
		}

		.offer-price{
		@include col(3/8);
		text-align: right;
		font-size: 1.2em;

			.price-details{
				font-size: .6em;
				
			}
		
		}

	}

	a{
		font-size: 1.2em;
		text-decoration: underline;
		color: $text-primary;
	}
	a:hover{
		text-decoration: none;
	}

	.saving, .offer-seats-remaining{
		font-size: .9em;
		color: $nice-red;
	}
	.offer-course{
		padding-top: 10px;
	}
	.offer-button{
		margin-top: 28px;
	}
	
	.offer-seats-remaining{
		padding-top: 10px;
		color: $nice-orange;
		margin-bottom: -1px;
	}

}



.no-padding{
	padding-left: 10px;
    padding-right: 0;
}

.collection_radio_buttons{
	padding: golden-ratio(12px,  -1);;
	font-weight: normal ;

}


#{$all-text-inputs-hover} { // Target the :hover pseudo-class
  background: $nice-gray;
}


.save-image{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
	border: $white 10px solid;
}

.save-text{
	color: $dark-gray;
}

.save-price{
	color: $nice-blue;
	font-weight: bold;
	font-size: 1.1em;
}

.no-style{
	text-decoration: none !important;
}

.price-details-left{
		text-align: right;
		

	}
	.price-col{
		padding-left:10px;
		padding-right:10px;
	}
	.table-condensed > thead > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > tfoot > tr > td {
		border: none;
	}
	.price-type{
		font-size: .6em;
	}

.seat-well .seat-details .offer-price:before, .seat-well .seat-details .offer-price:after {
    content: "";
    display: table;
    margin-bottom: -13px;
}