<!DOCTYPE html>
<html>
<head>
  <title>Eslfinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed" role="navigation">
  <div class="container">
    
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
